* {
	min-height: 10px;
}

body {
	min-height: 10px;
	font-family: "Ubuntu", sans-serif;
	background: black;
}

.postcard {
	background: white;
	height: 300px;
	width: 400px;
	margin: auto;
}

.postcard-header {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.postcard-body {
	display: flex;
	align-items: center;
	overflow: hidden;
}

img {
	max-height: 60px;
	max-width: 60px;
	float: right;
}

h1 {
	float: left;
	width: 90%;
	margin: 5%;
	font-weight: bold;
}

.body-left {
	padding: 0%;
	height: auto;
	width: auto;
}

.body-rigth {
	padding: 0%;
	height: auto;
	width: auto;
}

p {
	margin-top: 0%;
	margin-left: 5%;
	margin-right: 5%;
	font-weight: normal;
}

input {
	font-size: 1.1rem;
	font-weight: lighter;
	margin-top: auto;
	border-width: 2px;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
	border-bottom: rgb(163, 163, 163);
	text-decoration: underline;
}

.postcard-footer {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

button {
	size-adjust: auto;
	background-color: rgb(156, 156, 156);
	padding: 1%;
	margin: auto;
}
